 .navbarItem{
    display: flex;
    justify-content: space-between;
    padding:3rem;   
 }

 .navigation{
         gap:4rem;
 }

 .navBtn{
     color: white;
     background: black;
     border:none;
     padding:1rem;
     border-radius: 1rem;
     
 }
