
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Barlow:ital,wght@1,600&family=Epilogue:wght@400;500;600;700&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,900&family=Josefin+Sans:wght@400;700&family=Manrope:wght@600;800&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&family=Outfit:wght@600&family=Overpass:wght@400;600;700&family=Oxygen+Mono&family=Pacifico&family=Poppins:wght@600&family=Public+Sans:wght@700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@900&family=Red+Hat+Text:wght@600&family=Roboto+Mono&family=Roboto:wght@400;500;700;900&family=Rubik:wght@400;500&family=Space+Mono:wght@700&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
