.createRecipe{
    text-align: center;
}


.createForm{
    width:30rem;
    background: white;
    padding: 3rem;
    box-shadow: 6px 4px 57px -30px rgba(21,20,20,0.75);
    border-radius: .5rem;
    margin: auto;
}

.image{
    margin-left: 3rem;
  
}
