.registerForm{
   
    text-align: center;
}

.register{
  
   background-color: white;
    width:20rem;
    padding: 3rem;
    box-shadow: 6px 4px 57px -30px rgba(21,20,20,0.75);
    border-radius: .5rem;
     margin:auto;
}


.form-group{
    margin-top: 1rem;
   
}
input{
    border-radius: .4rem;
    padding:.4rem;
    width:100%;
    margin-top:.4rem;
}

.registerBtn{
    background-color: black;
    color:white;
    padding:.6rem;
    border-radius: 1rem;
    cursor: pointer;
    border:none;
    margin-top: 1rem;

}